/* Fonts */

@font-face {
    font-family:'Gotham Pro';
    src:url('../fonts/gothampro.eot');
    src:url('../fonts/gothampro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gothampro.woff') format('woff'),
        url('../fonts/gothampro.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Gotham Pro';
    src:url('../fonts/gothamprom.eot');
    src:url('../fonts/gothamprom.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gothamprom.woff') format('woff'),
        url('../fonts/gothamprom.ttf') format('truetype');
    font-weight:500;
    font-style:normal;
}
@font-face {
    font-family:'Gotham Pro';
    src:url('../fonts/gothamprob.eot');
    src:url('../fonts/gothamprob.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gothamprob.woff') format('woff'),
        url('../fonts/gothamprob.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}

/* Default */

html {
	height:100%;
}
body {
	min-width:480px;
	width:100%;
	height:100%;
	color:#000000;
	font-size:12px;
	line-height:16px;
	font-family:'Gotham Pro', sans-serif;
	padding:0;
	margin:0;
	background:#ffffff;
	-webkit-tap-highlight-color:transparent;
}
html * {
	max-height:1000000px;
}
p {
	text-indent:0;
	padding:0;
	margin:0 0 16px;
}
table {
	margin:0 0 16px;
	border-collapse:collapse;
}
table td {
	padding:0;
}
:focus {
	outline:none;
}
img {
	padding:0;
	margin:0;
	border:0;
}
a {
	color:#000000;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
form {
	margin:0;
}
ul {
	margin:0 0 10px 16px;
	padding:0;
}
ul li {
	padding:0;
	list-style:none;
}
ol {
	margin:0 0 10px 18px;
	padding:0;
}
* +html ol {
	padding:0 0 0 5px;
}
ol li {
	padding:0 0 0 16px;
}
input, select, textarea {
	color:#000000;
	font-size:12px;
	font-family:'Gotham Pro', sans-serif;
	padding:0;
	margin:0;
	background:none;
	border:0;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
textarea {
	overflow:auto;
}
button {
	font-family:'Gotham Pro', sans-serif;
	margin:0;
	border:0;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
::-webkit-input-placeholder  {
	color:#000000;
}
:-moz-placeholder {
	color:#000000;
}
::-moz-placeholder {
	color:#000000;
}
:-ms-input-placeholder {
	color:#000000;
}
.wrapper {
	position:relative;
	min-width:1220px;
	min-height:100%;
	margin:0 auto;
	background:url('../img/wrapper-bg.png') no-repeat center bottom;
	background-size:100% 731px;
}
.wrapper:after {
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	background:url('../img/wrapper-after.png') no-repeat center bottom;
	background-size:cover;
}
.img-bg {
	display:none;
}
div.checker,div.radio{position:relative}div.checker input,div.radio input{filter:alpha(opacity=0);border:none}div.checker span,div.radio input,div.radio span{zoom:1;text-align:center}div.button,div.checker,div.radio,div.selector,div.uploader{display:-moz-inline-box;display:inline-block;zoom:1;vertical-align:middle}div.button:focus,div.checker:focus,div.radio:focus,div.selector:focus,div.uploader:focus{outline:0}div.button,div.button *,div.checker,div.checker *,div.radio,div.radio *,div.selector,div.selector *,div.uploader,div.uploader *{margin:0;padding:0}div.checker,div.checker input,div.checker span{width:18px;height:19px;cursor:pointer}div.checker span{display:-moz-inline-box;display:inline-block;background:url(../img/checker-icon.png) center top no-repeat}div.checker span.checked{background-position:0 -19px}div.checker input{opacity:0;-moz-opacity:0;background:0 0;display:-moz-inline-box;display:inline-block;zoom:1}div.radio,div.radio input,div.radio span{width:20px;height:20px;cursor:pointer}div.radio span{display:-moz-inline-box;display:inline-block;background:url(../img/radio-icon.png) center top no-repeat}div.radio span.checked{background-position:0 -20px}div.radio input{opacity:0;-moz-opacity:0;background:0 0;display:-moz-inline-box;display:inline-block}
.jspContainer{overflow:hidden;position:relative}.jspPane,.jspVerticalBar{position:absolute}.jspVerticalBar{top:0;right:0;width:5px;height:100%;}.jspCap{display:none}.jspHorizontalBar .jspCap{float:left}.jspTrack{background:0 0;position:relative}.jspDrag{position:relative;top:0;left:0;cursor:pointer;border-radius:3px;-webkit-border-radius:3px;background:#e8e8e8;}.jspDrag:hover{background:rgba(216,216,216,.8)}.jspHorizontalBar .jspDrag,.jspHorizontalBar .jspTrack{float:left;height:100%}

/* Core */

header {
	position:relative;
	z-index:2;
	background:#4f575a url('../img/header-bg.png') repeat;
	-webkit-box-shadow:inset 0 -5px 15px rgba(0,0,0,0.4);
	box-shadow:inset 0 -5px 15px rgba(0,0,0,0.4);
}
header > div {
	position:relative;
	width:1170px;
	height:151px;
	margin:0 auto;
}
header > div:after {
	content:'';
	position:absolute;
	left:0;
	bottom:57px;
	width:100%;
	height:1px;
	background:rgba(255,223,0,0.1);
}
header .logo {
	position:absolute;
	left:33px;
	top:14px;
}
header nav {
	position:absolute;
	left:23px;
	top:116px;
}
header nav ul {
	margin:0;
}
header nav ul li {
	float:left;
	margin:0 55px 0 0;
}
header nav ul li a {
	display:block;
	color:#ffffff;
	font-size:11px;
	line-height:14px;
	font-weight:500;
	text-transform:uppercase;
}
header nav ul li a:hover {
	color:#ffdf00;
}
header .phones {
	position:absolute;
	right:221px;
	top:29px;
	color:#ffffff;
}
header .phones a {
	color:#ffffff;
}
header .phones h6 {
	position:absolute;
	left:-100px;
	top:50%;
	width:90px;
	font-size:14px;
	line-height:17px;
	text-align:right;
	padding:0;
	margin:-9px 0 0;
}
header .phones ul {
	margin:0;
}
header .phones ul li {
	font-size:14px;
	line-height:17px;
	font-weight:bold;
}
header button {
	position:absolute;
	right:35px;
	top:28px;
	color:#343e5c;
	font-size:10px;
	line-height:13px;
	font-weight:500;
	text-transform:uppercase;
	cursor:pointer;
	padding:11px 28px;
	background:#ffdf00;
	-webkit-border-radius:18px;
	border-radius:18px;
}
header button:hover {
	background:#ffffff;
}
header .search {
	position:absolute;
	right:0;
	top:111px;
	width:123px;
	right:35px;
}
header .search ::-webkit-input-placeholder  {
	color:#ffffff;
}
header .search :-moz-placeholder {
	color:#ffffff;
}
header .search ::-moz-placeholder {
	color:#ffffff;
}
header .search :-ms-input-placeholder {
	color:#ffffff;
}
header .search input[type="text"] {
	width:100%;
	color:#ffffff;
	font-size:12px;
	padding:5px;
}
header .search input[type="submit"] {
	position:absolute;
	left:-23px;
	top:0;
	width:23px;
	height:23px;
	color:transparent;
	cursor:pointer;
	background:url('../img/search-icon.png') no-repeat 8px 6px;
}
.filter-b {
	position:relative;
	z-index:2;
	min-height:120px;
	text-align:center;
	background:#ffdf00;
}
.filter-b .core {
	display:inline-block;
	vertical-align:top;
	margin:0 -41px 0 0;
}
.filter-b .core > li {
	position:relative;
	z-index:2;
	display:inline-block;
	text-align:left;
	vertical-align:top;
	padding:33px 0 31px;
	margin:0 51px 0 0;
}
.filter-b .core > li:before {
	content:'';
	position:absolute;
	left:-46px;
	top:0;
	width:40px;
	height:120px;
	background:url('../img/filter-split.png') no-repeat center top;
}
.filter-b .core > li:first-child:before {
	display:none;
}
.filter-b .core > li p {
	display:inline-block;
	font-size:11px;
	line-height:14px;
	padding:7px 0 9px;
	margin:0 -3px 0 0;
}
.filter-b input[type="text"] {
	display:inline-block;
	width:56px;
	font-size:11px;
	text-align:center;
	padding:7px 5px;
	vertical-align:top;
	margin:0 3px 0 6px;
	background:#ffffff;
	border:1px solid #e7ebf2;
	-webkit-border-radius:14px;
	border-radius:14px;
}
.filter-b .rooms {
	white-space:nowrap;
	margin:10px 0 0;
}
.filter-b .rooms li {
	display:inline-block;
	font-size:12px;
	line-height:15px;
	vertical-align:top;
	margin:0 0 0 14px;
}
.filter-b .rooms li:first-child {
	margin-left:0;
}
.filter-b .rooms li label {
	position:relative;
	cursor:pointer;
	padding:0 0 0 30px;
}
.filter-b .rooms li .checker {
	position:absolute;
	left:0;
	top:-3px;
}
.ui-slider {
	position:relative;
	width:calc(100% - 3px);
	max-width:193px;
	height:5px;
	margin:18px 0 0;
	background:#ffffff;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.ui-slider-range {
	position:absolute;
	top:0;
	height:5px;
	background:#e03400;
}
.ui-slider-handle {
	position:absolute;
	top:-6px;
	display:block;
	width:16px;
	height:16px;
	cursor:pointer;
	margin-left:-8px;
	background:#ffffff;
	-webkit-border-radius:50%;
	border-radius:50%;
	-webkit-box-shadow:0 0 7px rgba(0,0,0,0.25);
	box-shadow:0 0 7px rgba(0,0,0,0.25);
}
.filter-b .controls {
	display:inline-block;
	vertical-align:top;
	text-align:center;
	padding:43px 0 0;
	margin:0 0 0 26px;
}
.filter-b .controls button {
	overflow:hidden;
	position:relative;
	min-width:140px;
	color:#ffffff;
	font-size:10px;
	line-height:13px;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
	padding:11px 28px;
	background:#4f575a url('../img/header-bg.png') repeat;
	-webkit-border-radius:18px;
	border-radius:18px;
	-webkit-box-shadow:inset 0 0 15px rgba(0,0,0,0.25);
	box-shadow:inset 0 0 15px rgba(0,0,0,0.25);
}
.filter-b .controls button:hover {
	-webkit-box-shadow:inset 0 0 30px rgba(0,0,0,0.5);
	box-shadow:inset 0 0 30px rgba(0,0,0,0.5);
}
.filter-b .controls p {
	font-size:11px;
	line-height:14px;
	margin:8px 0 0;
}
.filter-b .controls p a {
	position:relative;
}
.filter-b .controls p a:after {
	content:'';
	position:absolute;
	left:0;
	bottom:-1px;
	width:100%;
	border-bottom:1px solid #a38e00;
}
.filter-b .controls p a:hover:after {
	border-bottom-color:transparent;
}
.content-b {
	position:relative;
	z-index:2;
	width:1170px;
	padding:53px 0 20px;
	margin:0 auto;
}
.lc {
	display:inline-block;
	width:260px;
	vertical-align:top;
	margin:0 33px 0 0;
}
.lc .group {
	padding:30px 21px 10px 23px;
	margin:0 0 32px;
	background:#ffffff;
	-webkit-box-shadow:0 2px 16px rgba(0,0,0,0.1);
	box-shadow:0 2px 16px rgba(0,0,0,0.1);
}
.lc .group h3 {
	font-size:20px;
	line-height:24px;
	padding:0;
	margin:0 0 12px;
}
.lc .group ul {
	margin:0;
}
.lc .group ul li {
	margin:0 0 20px;
}
.lc .group p {
	font-size:13px;
	line-height:17px;
	margin:0 0 14px;
}
.lc .group ul li p {
	margin:0 0 5px;
}
.lc .group p a {
	color:#e50200;
}
.lc .group p a:hover {
	text-decoration:underline;
}
.lc .group h6 {
	color:#9a9a9a;
	font-size:11px;
	line-height:14px;
	font-weight:normal;
	padding:0;
	margin:0 0 5px;
}
.lc .group h5 {
	font-size:13px;
	line-height:17px;
	font-weight:normal;
	padding:0;
	margin:20px 0 10px;
}
.lc .group h5 a {
	position:relative;
	color:#00a853;
	padding:0 20px 0 0;
	background:url('../img/all-arrow.png') no-repeat right 3px;
}
.lc .group h5 a:after {
	content:'';
	position:absolute;
	left:0;
	bottom:1px;
	width:calc(100% - 20px);
	border-bottom:1px solid #d4ebdc;
}
.lc .group h5 a:hover:after {
	border-bottom-color:transparent;
}
.lc .partners {
	margin:-3px 0 32px;
}
.lc .partners h3 {
	font-size:20px;
	line-height:24px;
	padding:0;
	margin:0 0 24px;
}
.lc .partners ul {
	margin:0;
}
.lc .partners ul li {
	position:relative;
	height:128px;
	margin:0 0 10px;
	border:1px solid #acacac;
}
.lc .partners ul li a {
	display:block;
	height:128px;
}
.lc .partners ul li img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:258px;
	max-height:128px;
	margin:auto;
}
.rc {
	position:relative;
	display:inline-block;
	width:874px;
	vertical-align:top;
	margin:0 -10px 0 0;
}
.rc .grid {
	margin:0 0 15px;
}
.rc .grid li {
	display:inline-block;
	vertical-align:top;
	margin:0 12px 15px 0;
}
.rc .grid li:nth-child(3n) {
	margin-right:-10px;
}
.item-e {
	position:relative;
	width:281px;
	height:377px;
	background:#ffffff;
	-webkit-box-shadow:0 2px 16px rgba(0,0,0,0.1);
	box-shadow:0 2px 16px rgba(0,0,0,0.1);
}
.item-e:after {
	content:'';
	position:absolute;
	left:19px;
	bottom:58px;
	width:243px;
	height:1px;
	background:#f2f2f2;
}
.item-e a {
	display:block;
	width:281px;
	height:377px;
}
.item-e a:hover h3 {
	text-decoration:underline;
}
.item-e .pic {
	position:relative;
	height:242px;
	margin:0 0 26px;
	background:#f9f9f9;
	opacity:0.9;
}
.item-e a:hover .pic {
	opacity:1;
}
.item-e .pic img {
	position:absolute;
	right:0;
	bottom:0;
	left:0;
	max-width:281px;
	max-height:242px;
	margin:auto;
}
.item-e h3 {
	overflow:hidden;
	font-size:15px;
	line-height:18px;
	text-transform:uppercase;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding:0;
	margin:0 19px 6px;
}
.item-e p {
	overflow:hidden;
	font-size:11px;
	line-height:14px;
	white-space:nowrap;
	text-overflow:ellipsis;
	margin:0 19px;
}
.item-e p span {
	color:#838383;
	padding:0 6px;
}
.item-e h5 {
	position:absolute;
	left:19px;
	bottom:20px;
	width:243px;
	color:#73012f;
	font-size:14px;
	line-height:17px;
	font-weight:500;
	text-align:center;
	text-transform:uppercase;
	padding:0;
	margin:0;
}
.item-e h6 {
	position:absolute;
	right:0;
	top:187px;
	z-index:2;
	min-width:108px;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	text-align:center;
	text-transform:uppercase;
	padding:9px 10px;
	margin:0;
}
.item-e h6.done {
	background:#00d979;
}
.item-e h6.process {
	background:#e50200;
}
.banner-b {
	overflow:hidden;
	position:relative;
	height:407px;
	margin:30px 0 32px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.banner-b:after {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.4);
}
.banner-b div {
	position:absolute;
	left:110px;
	top:50%;
	z-index:2;
	width:440px;
	color:#ffffff;
	margin:-200px 0 0;
}
.banner-b h3 {
	font-size:30px;
	line-height:32px;
	padding:0;
	margin:0 0 19px;
}
.banner-b p {
	font-size:16px;
	line-height:19px;
	margin:0 0 19px;
}
.banner-b h6 {
	font-size:16px;
	line-height:19px;
	font-weight:normal;
	padding:0;
	margin:0;
}
.banner-b h6 a {
	position:relative;
	color:#ffffff;
	padding:0 28px 0 0;
	background:url('../img/more-arrow-w.png') no-repeat right 5px;
}
.banner-b h6 a:after {
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:calc(100% - 28px);
	border-bottom:1px solid rgba(255,255,255,0.5);
}
.banner-b h6 a:hover:after {
	border-bottom-color:transparent;
}
.ask-more {
	position:relative;
	z-index:2;
	width:800px;
	text-align:center;
	padding:10px 0 31px;
	margin:0 auto;
}
.ask-more h3 {
	font-size:30px;
	line-height:32px;
	font-weight:500;
	padding:0;
	margin:0 0 38px;
}
.ask-more input {
	width:245px;
	font-size:13px;
	padding:11px 30px;
	margin:0 16px 14px;
	background:#ffffff;
	border:1px solid #e3e8f0;
	-webkit-border-radius:20px;
	border-radius:20px;
}
.ask-more textarea {
	width:525px;
	font-size:13px;
	padding:11px 30px;
	margin:0 16px 10px;
	background:#ffffff;
	border:1px solid #e3e8f0;
	-webkit-border-radius:5px;
	border-radius:5px;
	resize:vertical;
}
.ask-more button {
	width:525px;
	color:#ffffff;
	font-size:10px;
	line-height:13px;
	font-weight:500;
	text-transform:uppercase;
	cursor:pointer;
	padding:13px 28px 14px;
	margin:0 16px 14px;
	background:#4f575a url('../img/header-bg.png') repeat;
	-webkit-border-radius:18px;
	border-radius:18px;
}
.ask-more button:hover {
	-webkit-box-shadow:inset 0 0 15px rgba(0,0,0,0.25);
	box-shadow:inset 0 0 15px rgba(0,0,0,0.25);
}
div.clear {
	clear:both;
	overflow:hidden;
	height:94px;
}
footer {
	position:relative;
	width:1170px;
	height:93px;
	margin:-94px auto 0;
	border-top:1px solid rgba(82,90,93,0.2);
}
footer p {
	position:absolute;
	top:38px;
	font-size:13px;
	line-height:16px;
	margin:0;
}
footer .copy {
	left:0;
}
footer .author {
	right:0;
}
footer .author img {
	display:inline-block;
	vertical-align:top;
	margin:-1px 0 0 2px;
}
.special-e {
	position:absolute;
	right:0;
	top:272px;
	z-index:100;
	width:208px;
	color:#ffffff;
	text-align:center;
	padding:23px 0 0;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.special-e .close {
	position:absolute;
	right:16px;
	top:8px;
	z-index:3;
	display:block;
	width:20px;
	height:20px;
	cursor:pointer;
	background:url('../img/close-icon.png') no-repeat center center;
}
.special-e:after {
	content:'';
	position:absolute;
	right:0;
	top:0;
	width:187px;
	height:34px;
	background:#e50200;
}
.special-e:before {
	content:'';
	position:absolute;
	left:-1px;
	top:0;
	z-index:2;
	width:29px;
	height:29px;
	background:url('../img/special-before.png') no-repeat left top;
}
.special-e > div {
	position:relative;
	z-index:1;
	color:#ffffff;
	padding:3px 18px 25px;
	background:#e50200;
}
.special-e a {
	color:#ffffff;
	border-bottom:1px solid rgba(255,255,255,0.5);
}
.special-e a:hover {
	border-bottom-color:transparent;
}
.special-e p {
	font-size:13px;
	line-height:16px;
	margin:0;
}
.rc h2 {
	font-size:20px;
	line-height:24px;
	padding:0;
	margin:0 0 31px;
}
.news-b {
	margin:0 0 25px;
}
.news-b li {
	display:inline-block;
	width:284px;
	min-height:142px;
	vertical-align:top;
	padding:27px 28px 20px 29px;
	margin:0 7px 10px 0;
	background:#ffffff;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
	-webkit-box-shadow:0 2px 16px rgba(0,0,0,0.1);
	box-shadow:0 2px 16px rgba(0,0,0,0.1);
}
.news-b li:nth-child(3n) {
	margin-right:-10px;
}
.news-b li h4 {
	overflow:hidden;
	max-height:66px;
	font-size:18px;
	line-height:22px;
	font-weight:normal;
	padding:0;
	margin:0;
}
.news-b li h4 a {
	color:#e50200;
}
.news-b li h4 a:hover {
	text-decoration:underline;
}
.news-b li h6 {
	color:#9a9a9a;
	font-size:14px;
	line-height:17px;
	font-weight:normal;
	padding:0;
	margin:6px 0 0;
}
.location-e {
	height:502px;
	margin:0 0 32px;
	-webkit-box-shadow:0 2px 16px rgba(0,0,0,0.1);
	box-shadow:0 2px 16px rgba(0,0,0,0.1);
}
.rc h1 {
	font-size:20px;
	line-height:24px;
	padding:0 140px 23px 0;
	margin:-7px 0 19px;
	border-bottom:1px solid #acacac;
}
.progress-status {
	position:absolute;
	right:0;
	top:-9px;
	min-width:100px;
	color:#ffffff;
	font-size:11px;
	line-height:14px;
	text-align:center;
	text-transform:uppercase;
	padding:8px 10px 9px;
	margin:0;
}
.progress-status.done {
	background:#00d979;
}
.progress-status.process {
	background:#e50200;
}
.rc .gallery-m {
	display:inline-block;
	width:418px;
	height:251px;
	vertical-align:top;
	margin:0 22px 42px 0;
	-webkit-box-shadow:0 2px 16px rgba(0,0,0,0.1);
	box-shadow:0 2px 16px rgba(0,0,0,0.1);
}
.rc .gallery-m .big {
	position:relative;
	float:left;
	width:312px;
	height:251px;
}
.rc .gallery-m .big a {
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:312px;
	height:251px;
}/*
.rc .gallery-m .big a:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.1);
}*/
.rc .gallery-m .big a:after {
	content:'';
	position:absolute;
	right:10px;
	bottom:11px;
	z-index:2;
	width:15px;
	height:14px;
	background:url('../img/zoom-icon.png') no-repeat center center;
}
.rc .gallery-m ul {
	margin:0;
}
.gallery-m .jcarousel-container {
	position:relative;
	float:right;
	width:105px;
	height:251px;
}
.gallery-m .jcarousel-clip-vertical {
	clear:both;
	overflow:hidden;
	width:105px;
	height:251px;
}
.gallery-m .jcarousel-item {
	position:relative;
	width:105px;
	height:83px;
	cursor:pointer;
	margin:0 0 1px;
}
.gallery-m .jcarousel-item:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.1);
}
.gallery-m .jcarousel-container .jcarousel-prev, .gallery-m .jcarousel-container .jcarousel-next {
	position:absolute;
	left:50%;
	z-index:10;
	display:block;
	width:30px;
	height:19px;
	cursor:pointer;
	margin-left:-15px;
}
.gallery-m .jcarousel-container .jcarousel-prev {
	top:5px;
	background:url('../img/carousel-arrows.png') no-repeat center top;
}
.gallery-m .jcarousel-container .jcarousel-next {
	bottom:5px;
	background:url('../img/carousel-arrows.png') no-repeat center bottom;
}
.rc .about-o {
	display:inline-block;
	width:430px;
	min-height:251px;
	padding:51px 75px 25px;
	margin:0 -10px 42px 0;
	background:#ffffff;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
	-webkit-box-shadow:0 2px 16px rgba(0,0,0,0.1);
	box-shadow:0 2px 16px rgba(0,0,0,0.1);
}
.rc .about-o p {
	font-size:13px;
	line-height:16px;
	margin:0 0 16px;
}
.rc .about-o h5 {
	font-size:15px;
	line-height:18px;
	padding:0;
	margin:25px 0 20px;
}
.rc .about-o ul {
	margin:0 0 16px;
}
.rc .about-o ul li {
	font-size:14px;
	line-height:16px;
}
.rc .about-o button {
	float:right;
	color:#ffffff;
	font-size:10px;
	line-height:13px;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
	padding:10px 22px;
	margin:0 -10px 0 0;
	background:#4f575a url('../img/header-bg.png') repeat;
	-webkit-border-radius:17px;
	border-radius:17px;
	-webkit-box-shadow:inset 0 0 15px rgba(0,0,0,0.25);
	box-shadow:inset 0 0 15px rgba(0,0,0,0.25);
}
.object-b {
	position:relative;
	margin:0 0 40px;
	background:#ffffff;
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 2px 16px rgba(0,0,0,0.1);
	box-shadow:0 2px 16px rgba(0,0,0,0.1);
}
.object-b .nav {
	overflow:hidden;
	position:relative;
	white-space:nowrap;
	margin:0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}
.object-b .nav li {
	display:inline-block;
	font-size:11px;
	line-height:12px;
	font-weight:500;
	text-transform:uppercase;
	vertical-align:top;
	margin:0 -4px 0 0;
}
.object-b .nav li a {
	display:block;
	color:#2e2e4b;
	padding:16px 20px;
	background:#f2f3f8;
	border-bottom:1px solid #e9eef5;
	border-right:1px solid #e4e4e4;
}
.object-b .nav li:last-child a {
	border-right-width:0;
}
.object-b .nav li.active a {
	color:#e50200;
	background:#ffffff;
}
.object-b .tab {
	padding:10px 28px 10px 26px;
}
.object-b .download {
	text-align:center;
	padding:10px 0;
	border-bottom:1px solid #e8e8e8;
}
.object-b .download button {
	color:#ffffff;
	font-size:10px;
	line-height:13px;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
	padding:10px 22px;
	margin:0 -10px 0 0;
	background:#00d979;
	-webkit-border-radius:17px;
	border-radius:17px;
}
.object-b .more {
	padding:33px 0 5px;
}
.object-b .more h2 {
	margin:0 0 16px;
}
.table {
	overflow:hidden;
	position:relative;
	margin:0 0 34px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.table table {
	width:100%;
	margin:0;
}
.table table th {
	color:#ffffff;
	font-size:13px;
	line-height:16px;
	font-weight:normal;
	padding:13px 10px 12px;
	background:#e03400;
}
.table table td {
	font-size:13px;
	line-height:16px;
	text-align:center;
	padding:8px 10px 6px;
	background:#f1f1f1;
	border-bottom:1px solid #cdcdcd;
}
.table table tr:last-child td {
	border-bottom-width:0;
}
.table table a {
	border-bottom:1px solid #d4d4d4;
}
.table table a:hover {
	border-bottom-color:transparent;
}
.table table td sup {
	display:inline-block;
	font-size:8px;
	line-height:8px;
	vertical-align:top;
}
.object-b .more h5 {
	font-size:13px;
	line-height:16px;
	padding:0;
	margin:0 0 4px;
}
.object-b .more ul {
	margin:0 0 16px;
}
.object-b .more ul li {
	position:relative;
	font-size:13px;
	line-height:16px;
	padding:0 0 0 16px;
	margin:0 0 4px;
}
.object-b .more ul li:before {
	content:'—';
	position:absolute;
	left:0;
	top:0;
}
.floor h4 {
	color:#272727;
	font-size:15px;
	line-height:18px;
	text-align:center;
	padding:0;
	margin:0 0 15px;
}
.floor .tooltip {
	position:absolute;
	display:none;
	width:250px;
	padding:20px 15px 16px;
	margin:-130px 0 0 -125px;
	background:#ffffff;
	border:1px solid #cdcdcd;
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
	-webkit-box-shadow:0 2px 16px rgba(0,0,0,0.1);
	box-shadow:0 2px 16px rgba(0,0,0,0.1);
}
.floor .tooltip:after {
	content:'';
	position:absolute;
	left:50%;
	bottom:-9px;
	width:28px;
	height:10px;
	margin-left:-14px;
	background:url('../img/tooltip-arrow.png') no-repeat center top;
}
.floor .tooltip span.close {
	position:absolute;
	right:10px;
	top:10px;
	width:14px;
	height:14px;
	cursor:pointer;
	background:url('../img/close-icon-d.png') no-repeat center center;
	background-size:100% 100%;
}
.floor .tooltip p {
	clear:both;
	overflow:hidden;
	color:#000000;
	font-size:16px;
	line-height:20px;
	margin:0 0 4px;
}
.floor .tooltip p strong {
	font-weight:500;
}
.floor .tooltip p sup {
	display:inline-block;
	font-size:10px;
	line-height:10px;
	vertical-align:top;
	margin:0 0 0 2px;
}
.floor {
	position:relative;
}
.floor:after {
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	border-bottom:1px solid #e9e9e9;
}
.floor > div {
	position:relative;
	display:inline-block;
	height:410px;
	width:50%;
	padding:22px 0 0;
	margin:0 -4px 0 0;
	vertical-align:top;
	border-left:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.floor > div:nth-child(2n+1) {
	padding-right:14px;
	border-left-width:0;
}
.floor > div:nth-child(2n) {
	padding-left:14px;
}
.floor > div > div {
	position:relative;
	margin:0 auto;
	transform-origin:left top;
	transform:scale(0.738);
}
.object-b .text {
	padding:22px 0 10px;
}
.object-b .text p {
	margin:0 0 16px;
}
.object-b .text h5 {
	font-size:13px;
	line-height:16px;
	padding:0;
	margin:0 0 16px;
}
.object-b .text ul {
	margin:0 0 16px;
}
.object-b .text ul li {
	position:relative;
	font-size:13px;
	line-height:16px;
	padding:0 0 0 16px;
}
.object-b .text ul li:before {
	content:'—';
	position:absolute;
	left:0;
	top:0;
}
.object-b .gallery {
	padding:8px 0 2px;
	margin:0;
}
.object-b .gallery li {
	display:inline-block;
	width:198px;
	height:132px;
	vertical-align:top;
	margin:0 6px 9px 0;
}
.object-b .gallery li:nth-child(4n) {
	margin-right:-10px;
}
.object-b .gallery li a {
	display:block;
	width:198px;
	height:132px;
}
.object-b .news {
	width:827px;
	height:416px;
	margin:26px 0 10px 2px;
}
.object-b .news .pic {
	float:left;
	width:315px;
	height:416px;
}
.object-b .news .list {
	overflow:hidden;
	float:right;
	width:481px;
	height:416px;
}
.object-b .news .list ul {
	margin:0 10px 0 0;
}
.object-b .news .list ul li {
	cursor:pointer;
	padding:14px 30px 15px 35px;
	border-bottom:1px solid #e8e8e8;
}
.object-b .news .list ul li:last-child {
	border-bottom-width:0;
}
.object-b .news .list ul li h5, .object-b .news .list ul li p {
	font-size:13px;
	line-height:16px;
	padding:0;
	margin:0;
}
.object-b .news .list ul li.active {
	background:#f2f3f8;
}
.object-b .news .list ul li.active h5 {
	color:#c40401;
}
.about-b {
	padding:29px 31px 20px;
	margin:0 0 32px;
	background:#ffffff;
	-webkit-box-shadow:0 2px 16px rgba(0,0,0,0.1);
	box-shadow:0 2px 16px rgba(0,0,0,0.1);
}
.about-b .pic {
	height:325px;
	margin:0 0 20px;
}
.about-b h1 {
	padding:0;
	margin:0 0 19px;
	border-bottom-width:0;
}
.about-b p {
	font-size:14px;
	line-height:17px;
	margin:0 0 17px;
}
.about-b h4 {
	font-size:16px;
	line-height:19px;
	font-weight:500;
	padding:0;
	margin:0 0 17px;
}
.about-b .text {
	display:inline-block;
	width:340px;
	vertical-align:top;
	margin:36px 33px 0 0;
}
.about-b .text h4 {
	margin-right:20px;
}
.about-b .benefits {
	display:inline-block;
	width:435px;
	vertical-align:top;
	padding:36px 34px 20px 80px;
	background:#f4f4f4;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.about-b .benefits ul {
	margin:0 0 -4px;
}
.about-b .benefits ul li {
	position:relative;
	font-size:14px;
	line-height:17px;
	margin:0 0 33px;
}
.about-b .benefits ul li span {
	position:absolute;
	left:-61px;
	top:50%;
	display:block;
	min-width:42px;
	min-height:42px;
	color:#e50200;
	font-size:20px;
	line-height:22px;
	text-align:center;
	padding:9px 5px;
	margin-top:-21px;
	border:1px solid #e50200;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
	-webkit-border-radius:21px;
	border-radius:21px;
}
.about-b .benefits ul li:nth-child(2n) span {
	color:#00a853;
	border-color:#00a853;
}
.about-b .benefits p {
	margin-left:-61px;
}
.contacts-b {
	margin:0 0 32px;
}
.contacts-b h1 {
	padding:0 0 24px;
	margin:-7px 0 0;
	border-bottom-width:0;
}
.contacts-b h5, .contacts-b p {
	font-size:15px;
	line-height:18px;
	padding:0;
	margin:0;
}
.contacts-b .main {
	padding:22px 0 23px;
	border-top:1px solid #c6c6c6;
}
.contacts-b .list {
	padding:22px 0 13px;
	margin:0;
	border-top:1px solid #c6c6c6;
}
.contacts-b .list li {
	display:inline-block;
	vertical-align:top;
	margin:0 45px 10px 0;
}
.contacts-b .map {
	height:551px;
	margin:9px 0 30px;
	background:#ffffff;
	-webkit-box-shadow:0 2px 16px rgba(0,0,0,0.1);
	box-shadow:0 2px 16px rgba(0,0,0,0.1);
}
.search-e {
	margin:0 0 32px;
}
.search-e h1 {
	padding:0;
	margin:-7px 0 24px;
	border-bottom-width:0;
}
.table.custom {
	margin:0 0 32px;
	-webkit-box-shadow:0 2px 16px rgba(0,0,0,0.1);
	box-shadow:0 2px 16px rgba(0,0,0,0.1);
}
.table.custom table th {
	padding:21px 10px 22px;
}
.table.custom table td {
	padding:14px 10px 15px;
	background:#ffffff;
	border-left:1px solid #dddddd;
}
.table.custom table td:first-child {
	font-size:12px;
	text-align:left;
	padding-left:20px;
	border-left-width:0;
}
.fade {
	display:none;
	position:fixed;
	left:0;
	top:0;
	z-index:1000;
	width:100%;
	height:100%;
	background:url('../img/fade-bg.png') repeat;
}
.modal {
	display:none;
	position:absolute;
	left:50%;
	top:0;
	z-index:1010;
	width:476px;
	text-align:center;
	padding:50px 80px 50px;
	margin-left:-318px;
	background:#ffffff;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.modal h4 {
	font-size:30px;
	line-height:36px;
	font-weight:500;
	padding:0;
	margin:0 0 20px;
}
.modal p {
	width:400px;
	margin:0 auto 14px;
}
.modal p input {
	width:100%;
	font-size:13px;
	padding:11px 30px;
	background:#ffffff;
	border:1px solid #e3e8f0;
	-webkit-border-radius:20px;
	border-radius:20px;
}
.modal p textarea {
	width:100%;
	font-size:13px;
	padding:11px 30px;
	margin:0 0 -4px;
	background:#ffffff;
	border:1px solid #e3e8f0;
	-webkit-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	resize:vertical;
}
.modal button {
	width:400px;
	color:#343e5c;
	font-size:10px;
	line-height:13px;
	font-weight:500;
	text-transform:uppercase;
	cursor:pointer;
	padding:13px 28px 14px;
	margin:0 auto 14px;
	background:#ffdf00;
	-webkit-border-radius:18px;
	border-radius:18px;
}
.modal .close {
	position:absolute;
	right:20px;
	top:10px;
	display:block;
	width:55px;
	height:55px;
	cursor:pointer;
	background:url('../img/modal-close.png') no-repeat center center;
}
header nav ul li:last-child {
	margin-right:0;
}
.wrapper {
	min-width:auto;
}
.menu-mini {
	display:none;
}
.filter-b h4 {
	display:none;
}
.menu-drop {
	display:none;
}
@media all and (max-width:1229px) {
	header > div {
		width:auto;
		margin:0 30px;
	}
	header nav {
		width:75.2%;
	}
	header nav ul {
		display:flex;
		justify-content:space-between;
	}
	header nav ul li {
		white-space:nowrap;
		margin:0;
	}
	.content-b {
		width:auto;
		padding:53px 30px 20px;
	}
	.lc {
		margin:0 27px 0 0;
	}
	.rc {
		width:calc(100% - 290px);
		margin:0 -10px 0 0;
	}
	.rc .grid li {
		width:calc(50% - 13px);
		margin:0 13px 15px 0;
	}
	.rc .grid li:nth-child(3n) {
		margin-right:12px;
	}
	.rc .grid li:nth-child(2n) {
		margin-right:-10px;
	}
	.item-e a {
		width:auto;
	}
	.item-e .pic {
		width:auto;
	}
	.item-e .pic img {
		max-width:100%;
		height:auto;
	}
	footer {
		width:auto;
	}
	footer .copy {
		left:30px;
	}
	footer .author {
		right:30px;
	}
	.about-b .text {
		display:block;
		width:auto;
		margin:0;
	}
	.about-b .benefits {
		display:block;
		width:auto;
		margin:24px 0 10px;
	}
	.contacts-b .list {
		padding-bottom:10px;
	}
	.contacts-b .list li {
		display:block;
		margin:0 0 20px;
	}
	.rc .gallery-m {
		display:block;
		margin:0 auto 30px;
	}
	.rc .about-o {
		display:block;
		width:auto;
		min-height:auto;
		padding:31px 35px 15px;
	}
	.news-b li {
		width:calc(50% - 5px);
	}
	.news-b li:nth-child(3n) {
		margin-right:7px;
	}
	.news-b li:nth-child(2n) {
		margin-right:-10px;
	}
	.object-b .nav li {
		display:block;
	}
	.object-b .nav li a {
		display:block;
		padding:12px 20px;
	}
	.floor .tooltip {
		width:300px;
	}
	.floor .tooltip p {
		font-size:20px;
		line-height:24px;
	}
	.object-b .news {
		width:auto;
	}
	.object-b .news .pic {
		width:38%;
	}
	.object-b .news .list {
		width:calc(62% - 20px) !important;
	}
	.object-b .news .list ul li {
		padding:14px 20px 15px 25px;
	}
	.object-b .gallery li {
		width:calc(33.33% - 6px);
	}
	.object-b .gallery li:nth-child(4n) {
		margin-right:6px;
	}
	.object-b .gallery li:nth-child(3n) {
		margin-right:-10px;
	}
	.item-e h5 {
		width:auto;
	}
	.item-e:after {
		width:calc(100% - 37px);
	}
}
@media all and (max-width:999px) {
	header nav ul li a {
		font-size:10px;
	}
}
@media all and (max-width:959px) {
	.wrapper:after {
		display:none;
	}
	.special-e {
		display:none;
	}
	.menu-mini {
		display:block;
		position:absolute;
		right:0;
		top:31px;
		width:30px;
		height:30px;
		cursor:pointer;
		background:url('../img/menu-mini.png') no-repeat center top;
	}
	header {
		overflow:hidden;
	}
	header > div {
		margin:0 20px;
	}
	header > div:after {
		display:none;
	}
	header .logo {
		left:0;
		top:20px;
		transform-origin:left top;
		transform:scale(0.65);
	}
	header nav {
		display:none;
	}
	header > div {
		height:95px;
	}
	header button {
		right:50px;
	}
	.filter-b {
		min-height:auto;
		padding:10px 0 0;
	}
	.filter-b .core {
		padding:10px 0 0;
		margin:0;
	}
	.filter-b .core > li {
		display:block;
		padding:0;
		margin:0 0 40px;
	}
	.filter-b .core > li:before {
		display:none;
	}
	.filter-b .controls {
		display:block;
		padding:0 0 30px;
		margin:0;
	}
	.rc {
		width:100%;
		margin:0;
	}
	.rc .grid li {
		width:calc(33.33% - 10px);
	}
	.rc .grid li:nth-child(2n) {
		margin-right:12px;
	}
	.rc .grid li:nth-child(3n) {
		margin-right:-10px;
	}
	.banner-b {
		margin:10px 0 30px;
	}
	.content-b {
		padding:30px 20px 10px;
	}
	.lc {
		display:block;
		width:100%;
		margin:0;
	}
	.lc .group {
		margin:0 0 20px;
	}
	.lc .partners {
		padding-top:0;
		margin:0 0 20px;
	}
	.ask-more {
		width:auto;
		padding:0 20px 10px;
	}
	.ask-more h3 {
		font-size:20px;
		line-height:24px;
		margin:0 0 20px;
	}
	.ask-more input, .ask-more textarea, .ask-more button {
		width:100%;
		margin:0 0 16px;
	}
	.menu-drop {
		display:none;
		position:absolute;
		left:0;
		top:95px;
		width:100%;
		z-index:20;
		padding:10px 0;
		margin:0;
		background:#4f575a url('../img/header-bg.png') repeat;
		-webkit-box-shadow:inset 0 -5px 15px rgba(0,0,0,0.4);
		box-shadow:inset 0 -5px 15px rgba(0,0,0,0.4);
	}
	.menu-drop li a {
		display:block;
		color:#ffffff;
		font-size:11px;
		line-height:14px;
		font-weight:500;
		text-transform:uppercase;
		padding:5px 20px;
	}
	.menu-drop li a:hover {
		color:#ffdf00;
	}
	.banner-b {
		height:307px;
	}
	.filter-b h4 {
		display:block;
		font-size:15px;
		line-height:20px;
		cursor:pointer;
		padding:10px 20px 11px;
		margin:-10px 0 0;
		border-bottom:1px solid rgba(0,0,0,0.2);
	}
	.filter-b .core, .filter-b .controls {
		display:none;
	}
}
@media all and (max-width:719px) {
	.rc .grid li {
		width:calc(50% - 7px);
	}
	.rc .grid li:nth-child(3n) {
		margin-right:12px;
	}
	.rc .grid li:nth-child(2n) {
		margin-right:-10px;
	}
	.banner-b {
		height:250px;
	}
	.banner-b h3 {
		font-size:24px;
		line-height:28px;
	}
	.banner-b div {
		left:50%;
		width:360px;
		margin-left:-180px;
	}
	header button {
		top:18px;
		padding:6px 10px;
	}
	header > div {
		height:60px;
	}
	header .menu-mini {
		top:15px;
	}
	header .logo {
		top:15px;
		transform:scale(0.38);
	}
	header .phones {
		top:15px;
		right:175px;
	}
	header .phones ul li {
		font-size:12px;
	}
	.filter-b h4 {
		font-size:12px;
		line-height:15px;
	}
	.floor > div {
		display:block;
		width:100%;
		margin:0;
		border-left:0 !important;
	}
	.news-b li {
		min-height:0;
		width:100%;
		margin-right:0 !important;
	}
	.object-b .news .pic {
		width:45%;
	}
	.object-b .news .list {
		width:calc(55% - 10px) !important;
	}
	.object-b .news .list ul li {
		padding:10px 10px 11px 15px;
	}
	.object-b .news .list ul li p {
		font-size:12px;
		line-height:15px;
	}
	.modal {
		width:100%;
		left:0;
		padding:30px 30px 20px;
		margin-left:0;
		-webkit-box-shadow:border-box;
		box-sizing:border-box;
		-webkit-border-radius:0;
		border-radius:0;
	}
	.modal h4 {
		font-size:18px;
		line-height:22px;
		margin:0 20px 20px;
	}
	.modal p {
		width:auto;
	}
	.modal button {
		width:100%;
	}
	.modal .close {
		right:0;
		top:0;
	}
	.floor .tooltip {
		width:250px;
	}
	.floor .tooltip p {
		font-size:16px;
		line-height:20px;
	}
}